<header id="main-header" class="header">
  <div class="container">
    <div class="header__content">
      <h1 class="title">Todos</h1>
      <form action="" id="js-todo-form" class="header-form">
        <input
          id="js-task-name"
          type="text"
          name="task-name"
          placeholder="e.g. Buy groceries"
          autofocus
          class="header-form__input"
        />
        <button id="js-add-task" class="header-form__btn">Add task</button>
      </form>
    </div>
  </div>
</header>
